<h1 class="mt-4 mb-3">Shipping Info</h1>

<%= form_tag "/profile/addresses/#{@address.id}", method: :patch do %>
  <section class='form-group form-width'>
    <p>
      <%= label_tag :nickname %>
      <%= text_field_tag :nickname, @address.nickname, class: 'form-control', placeholder: 'Home, Work, etc.' %>
    </p>

    <p>
      <%= label_tag :address %>
      <%= text_field_tag :address, @address.address, class: 'form-control' %>
    </p>

    <p>
      <%= label_tag :city %>
      <%= text_field_tag :city, @address.city, class: 'form-control' %>
    </p>

    <p>
      <%= label_tag :state %>
      <%= text_field_tag :state, @address.state, class: 'form-control' %>
    </p>

    <p>
      <%= label_tag :zip_code %>
      <%= text_field_tag :zip, @address.zip, class: 'form-control' %>
    </p>

    <p class='justify-content-center row'>
      <%= submit_tag 'Update Address', class: 'btn btn-primary mt-2' %>
    </p>
  </section>
<% end %>
