<h1 class="mt-4 mb-4">Create an Order</h1>

<% if !current_admin? %>
  <table class="table table-striped table-bordered cart-table">
    <thead>
      <tr>
        <th scope="col">Item</th>
        <th scope="col">Sold By</th>
        <th scope="col">Price</th>
        <th scope="col">Quantity</th>
        <th scope="col">Subtotal</th>
      </tr>
    </thead>
    <tbody>
      <% cart.items.each do |item, quantity| %>
        <tr id= "order-item-<%=item.id%>">
          <th scope="row">
            <span>
              <%= image_tag item.image, class: 'cart-image center', align: 'center' %>
              <%=link_to item.name, "/items/#{item.id}" %>
            </span>
          </th>
          <td><%=link_to item.merchant.name, "/merchants/#{item.merchant.id}"%></td>
          <td><%=number_to_currency(item.price)%></td>
          <td><%=quantity%></td>
          <td><%=number_to_currency(cart.subtotal(item))%></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <h4 class="text-center">Grand Total: <%= number_to_currency(cart.total) %></h4>

  <section class='container-fluid justify-content-center d-flex mt-4'>
    <p><%= link_to "Edit Cart", "/cart", class: 'btn btn-primary ml-2 mr-2' %></p>
  </section>
<% else %>
  <h3 align="center">You are not authorized to create orders.</h3>
<% end %>

<hr class="mt-5 mb-4">

<h2 class='text-center m-4'>Select Shipping Address</h2>

<% if @user.addresses.any? %>
  <section class="row justify-content-center">
    <% @user.addresses.each do |address| %>
      <article class='card card-body bg-light m-2 p-3 col-md-3' id= 'address-<%= address.id %>' >
        <h4 class='text-center mb-3'><%= address.nickname.titleize %></h4>
        <h6 class='text-center'><%= address.address %></h6>
        <h6 class='text-center'><%= "#{address.city}, #{address.state} #{address.zip}" %></h6>

        <article class="justify-content-center row mt-4">
          <%= button_to 'Ship to this Address', "/profile/orders?address_id=#{address.id}", method: :post, class: 'btn btn-sm btn-success ml-2 mr-2' %>
          <%= link_to 'Edit Address', "/profile/addresses/#{address.id}/edit", class: 'btn btn-sm btn-info ml-2 mr-2' %>
        </article>
      </article>
    <% end %>
  </section>
<% else %>
  <h5 align="center">You must create an address to place an order</h5>
<% end %>

<p align="center"><%= link_to "New Address", "/profile/addresses/new", class: 'btn btn-primary mt-3' %></p>
